body {
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
}
header {
    background-color: rgb(194, 234, 221);
}
nav {
    background-color: rgb(211, 187, 234);
}
main {
    background-color: antiquewhite;
    font-size: 20px;
}
footer {
    background-color: rgb(219, 127, 127);
    font-size: 20px;
    color: aliceblue;
    text-align: center;
    
}
li {
    display: block;
    width: fit-content;
}
h1 {
    color: rgb(72, 106, 136);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}
p {
    line-height: 30px;
}
